/* estilos globales */

:root{
  --violeta: #b253ff;
  --azul: #828FF4;
  --amarillo: #F4E551;
  --gris-1: #757361;
  --gris-2: #332e38;
  --gris-3: #444551;
  --gris-3-2: #252735;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  cursor: none;
  position: relative;
}


header {
  height: 5vh;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--violeta);
  padding: 50px;
  z-index: 1000;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;

}

header nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

header nav a:hover{
    color: var(--amarillo);
}

.cursor{
    --size: 15px;
    position: fixed;
    width: var(--size);
    height: var(--size);
    top: calc(var(--size)/-2);
    left: calc(var(--size)/-2);
    transform: translate(var(--cursor-x,-100px), var(--cursor-y,-100px));
    pointer-events: none;
    transition: none;
    z-index: 11000;
    will-change: transform;
    & .cursor_inner{
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--amarillo);
      border-radius: 100%;
      transition: .15s ease-in-out;
    }
  }
  





.title{
    color: var(--violeta);
}

body{
    background-color: var(--gris-3);
}

::-webkit-scrollbar{
    width: 7px;
    background-color: var(--gris-3-2);
}

::-webkit-scrollbar-thumb{
    background-color: var(--azul);
}

/* Inicio */

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: var(--gris-3-2);
}

.img-hero{
    aspect-ratio: 1/1;
    width: 30vw;
    object-fit: cover;
    border-radius: 100%;
}

.list-hero{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 25px;
    gap: 55px;
    overflow: hidden;
    margin: 25px 0;
}


.list-hero li{
    animation: texto 10s linear infinite;
    text-transform: uppercase;
    color: var(--azul);
    font-weight: bold;
}

@keyframes texto {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(0, 0);
    }
  
    20% {
      transform: translate(0, -75px);
    }
    30% {
      transform: translate(0, -75px);
    }
  
    40% {
      transform: translate(0, -150px);
    }
    50% {
      transform: translate(0, -150px);
    }
  
    60% {
      transform: translate(0, -225px);
    }
    70% {
      transform: translate(0, -225px);
    }
  
    80% {
      transform: translate(0, -300px);
    }
    90% {
      transform: translate(0, -300px);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }


.line-background{
    margin-top: 150px;
    position: relative;
    background-color: var(--violeta);
    clip-path: polygon(100% 0, 43% 100%, 0 100%, 0 53%);
    overflow: visible;
    height: 400px;
    width: 100%;
    z-index: 20;
}

.content-proyectos{
    position: absolute;
    display: flex;
    transform: translateY(-450px) translateX(50px);
    z-index: 40;
    justify-content: space-around;
    width: 90vw;
}
  

#img-proyecto{
    aspect-ratio: 1.91/1;
    width: 50vw;
    background-image: url("../img/proyectos/1200x628.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: box-shadow .5s ease;
}

#img-proyecto:hover{
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}

.content-proyectos .info-proyectos{
    width: 30vw;
    max-height: 300px;
    padding: 25px;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(50px);
}

.button{
    padding: 15px;
    text-align: center;
    background-color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: .2s ease-in-out;
}

.button:hover{
    box-shadow: .5rem .5rem .2rem rgba(255,255,255,0.1);
}

/* portafolio */

.portafolio .sec-01{
  padding-top: 150px;
}

.portafolio section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
  flex-direction: column;
  margin-bottom: 100px;
}

.portafolio .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portafolio .main-title {
  padding-bottom: 80px;
}

.portafolio .main-title h3 {
  font-size: 2em;
  text-wrap: balance;
}

.portafolio .content .image {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.portafolio .content .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
}

.portafolio .content .block {
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  padding: 25px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 150px);
}

.content .block h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.portafolio .info {
  position: relative;
  max-width: 600px;
  margin-left: 50px;
}

.portafolio .info h3 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

.portafolio .slider {
  display: flex;
  width: 90%;
  height: 400px;
}

.portafolio .slider img {
  width: 0;
  height: 400px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s;
  opacity: 0.8;
}

.portafolio .slider img:hover {
  width: 400px;
  opacity: 1;
  margin-bottom: 100px;
}


.portafolio .parraf {
  margin-top: 50px;
}


/* acerca de */

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  position: relative;
}


#barra-lateral {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 999;
}

#barra-lateral ul {
  margin: auto auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

#barra-lateral ul li a {
  text-decoration: none;
  color: var(--azul);
}

#barra-lateral ul li a:hover {
  color: #fff;
}

#barra-lateral ul li.active a {
  background-color: #f0f0f0;
}

#info {
  margin-left: 400px;
}

.sect {
  max-height: 100vh;
  min-height: 50vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.sect h1,
.sect h3 {
  font-size: 50px;
  text-transform: uppercase;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  gap: 50px;
  position: relative;
}

.icons img {
  position: relative;
  width: 100px;
  border-radius: 25px;
  z-index: 25;
}

.tecno {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  overflow: hidden;
  cursor: crosshair;
}

.porcent {
  position: absolute;
  top: -500px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
  transition: .5s ease-in-out;
}

.porcent p {
  margin: 0;
}

.abajo{
  top: 0;
}

/* contacto */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0d151f;
}
.box {
  position: relative;
  width: 380px;
  height: 420px;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  width: 380px;
  height: 420px;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  z-index: 1;
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent,
    var(--azul),
    var(--azul),
    var(--azul)
  );
  animation: animate 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 420px;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  z-index: 1;
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent,
    var(--azul),
    var(--azul),
    var(--azul)
  );
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.borderline {
  position: absolute;
  left: 0;
  inset: 0;
}

.borderline::before {
  content: "";
  position: absolute;
  width: 380px;
  height: 420px;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  z-index: 1;
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent,
    var(--violeta),
    var(--violeta),
    var(--violeta)
  );
  animation: animate 4s linear infinite;
  animation-delay: -1s;
}

.borderline::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 420px;
  top: -50%;
  left: -50%;
  transform-origin: bottom right;
  z-index: 1;
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent,
    var(--violeta),
    var(--violeta),
    var(--violeta)
  );
  animation: animate 4s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box form {
  position: absolute;
  inset: 4px;
  background-color: var(--gris-2);
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.box form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;
}

.box form .inputbox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.box form .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  z-index: 10;
}

.box form .inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: 0.5s;
}

.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span {
  color: #fff;
  font-size: 0.75rem;
  transform: translateY(-34px);
}

.box form .inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i {
  height: 44px;
}

.box form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 50px;
  color: #000;
}

.box form input[type="submit"]:active {
  opacity: 0.8;
}

.links {
  margin: 25px 0 25px 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
